{{define "main"}}

<main class="content-container pb-4 min-h-[100vh] bg-accent-dark dark">
    <nav class="flex p-4 gap-4 text-white">
        <a href="{{.Site.BaseURL}}" class=" bg-white/20 text-sm p-2 w-max items-center gap-2 flex rounded-md">
          {{partial "icons/smallleftarrow.html" ""}}
          <p>Main Site</p></a>
          <a href="/blog" class="  bg-white/20 text-sm p-2 w-max items-center gap-2 flex rounded-md">
            {{partial "icons/smallleftarrow.html" ""}}
            <p>Blog</p></a>
      </nav>
    
    <div class="prose dark:prose-invert mx-auto mt-4">
        <h1>{{.Title}}</h1>
        <!-- <p>{{ .Date.Format "January 2, 2006" }}</p> -->
    </div>
    <div class="prose mx-auto dark:prose-invert">{{.Content}}</div>
</main>


{{end}}
