<nav class="max-w-2xl absolute top-2 left-1/2 transform -translate-x-1/2 z-10">
  <ul class="flex justify-evenly gap-4 py-4 text-accent">
    <li
      class=" hover:-translate-y-1 duration-200 hover:cursor-pointer ease-in"
    >
      <a href="{{.Site.BaseURL}}">Home</a>
    </li>
    <li>{{partial "decorations/tinylinedivider.html"}}</li>
    <li class="hover:-translate-y-1 duration-200 hover:cursor-pointer ease-in"><a href="#skills">Skills</a></li>
    <li>{{partial "decorations/tinylinedivider.html"}}</li>
    <li class="hover:-translate-y-1 duration-200 hover:cursor-pointer ease-in"><a href="#work">Work</a></li>
    <li>{{partial "decorations/tinylinedivider.html"}}</li>
    <li class="hover:-translate-y-1 duration-200 hover:cursor-pointer ease-in"><a href="#thoughts">Thoughts</a></li>
    <li>{{partial "decorations/tinylinedivider.html"}}</li>
    <li class="hover:-translate-y-1 duration-200 hover:cursor-pointer ease-in"><a href="#contact">Contact</a></li>
  </ul>
</nav>
